body{
	font-family: 'Raleway', sans-serif;
}

.custom-fb{
	color:#D4B16A;
}

.custom-name {
	font-weight: bolder;
}

.custom-linkedinn {
	color:#061539;
}

.custom-insta {
	color:#570d6d;
}
.barcolor{
	background: #6B949E;
}

.mx-auto{
	 border-radius: 7px;
}
.description {
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat-x;
}
.jumbotron{
	background-image: url("../img/pattern.jpg");
  background-repeat: repeat-x;
  background-size: cover
  color:white;
}
.display-3 {
	font-size: 75px;
}
.display-1{
	font-size: 75px;
}